@media screen and (max-width: 724px) {
  .app {
    grid-template-areas:
      'header'
      'code'
      'visualizer';
    grid-template-rows: 80px auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 9px;
  }

  .scopes--vertical-scrollbar {
    width: 100%;
  }

  .scopes--horizontal-scrollbar {
    height: 100%;
  }
}
