@media screen and (max-width: 724px) {
  .app {
    grid-template-areas:
      'header'
      'code'
      'visualizer';
    grid-template-rows: 100px auto auto;
    grid-template-columns: 1fr;
  }

  .custom-code-editor__editor {
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 9px;
  }
}
