@media screen and (max-width: 724px) {
  .app {
    grid-template-areas:
      'header header'
      'code code'
      'visualizer visualizer'
      'footer footer';
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 9px;
  }

  .scopes--vertical-scrollbar {
    width: 100%;
  }

  .scopes--horizontal-scrollbar {
    height: 100%;
  }
}
