/* VISUALIZER */

.custom-code-editor {
  grid-area: visualizer;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 'code';
  grid-template-columns: auto;
  background-color: var(--light-color);
  font-family: monospace;
}

.line-count {
  width: 31px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  padding: 6px 8px;
  margin-left: -31px;
  color: #4e4e4e;
}

.custom-code-editor__editor {
  grid-area: code;
  height: 100%;
  /* width: 100%; */
  padding-top: 4px;
  margin-right: 6px;
  color: var(--font-color-code-dark);
  overflow: auto;
  z-index: 1;
}

.line {
  position: relative;
  padding: 6px 4px;
  white-space: nowrap;
  margin-left: 31px;
}

.tab {
  width: 20px;
  display: inline-block;
}

.scopes {
  grid-area: code;
  height: 100%;
  width: 100%;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
}

.scopes--vertical-scrollbar {
  width: calc(100% - 16px);
}

.scopes--horizontal-scrollbar {
  height: calc(100% - 16px);
}

.scopes__bubble {
  position: fixed;
  border-radius: 4px;
  padding: 4px 0px;
}

.scopes__bubble--global {
  width: 100%;
  height: 100% !important;
  position: fixed;
  border-radius: 4px;
  padding: 4px 0px;
}

.scopes__bubble:hover {
  border: 3px solid var(--dark-color);
}
