/* VISUALIZER */

.custom-code-editor {
  grid-area: visualizer;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 'lines code';
  grid-template-columns: 29px auto;
}

.custom-code-editor__lines {
  grid-area: lines;
  width: 29px;
  height: 100%;
  background-color: white;
  border-right: 1px solid #ddd;
}

.custom-code-editor__editor {
  grid-area: code;
  height: 100%;
  width: 100%;
  padding-top: 4px;
  font-family: monospace;
  overflow: auto;
}

.line {
  padding: 2px 4px;
  white-space: nowrap;
}

.tab {
  width: 20px;
  display: inline-block;
}

.scopes {
  grid-area: code;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  overflow: hidden;
  pointer-events: none;
}

.scopes--vertical-scrollbar {
  width: calc(100% - 16px);
}

.scopes--horizontal-scrollbar {
  height: calc(100% - 16px);
}

.scopes__bubble {
  position: fixed;
  border-radius: 4px;
  padding: 4px 0px;
}

.scopes__bubble--global {
  height: 100% !important;
  border-radius: 4px;
  padding: 4px 0px;
}

.scopes__bubble:hover {
  border: 3px solid var(--dark-color);
}
